@font-face {
  font-family: Montserrat-Regular;
  src: url('../fonts/Montserrat/Montserrat-Regular.ttf');
}

@font-face {
  font-family: Montserrat-Bold;
  src: url('../fonts/Montserrat/Montserrat-Bold.ttf');
}

@font-face {
  font-family: Montserrat-Light;
  src: url('../fonts/Montserrat/Montserrat-Light.ttf');
}

@font-face {
  font-family: Montserrat-SemiBold;
  src: url('../fonts/Montserrat/Montserrat-SemiBold.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0px;
}

html, body {
  height: 100%;
  background-color: #FFF;
  font-family: Montserrat-Regular;
}

img {
  width: 100%;
  height: auto;
}

h2 {
  font-size: 40px;
  margin-top: 50px;
  font-weight: 900;
  padding: 20px;
  padding-bottom: 12px;
  padding-top: 30px;
  font-family: Montserrat-Regular;
}

p {
  text-align: left;
  padding: 20px;
}


/* HEADER */

header {
  width: 100%;
}

header img {
  height: auto;
  width: 50%;
  position: relative;
  left: 25%;
  right: 25%;
  padding-top: 14px;
}

header nav {
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  background-color: #CF000F;
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.4);
  text-align: center;
  font-family: Montserrat-Regular;
}

nav ul {
  list-style: none;
  padding-top: 10px;
}

nav ul li {
  display: inline;
  padding: 0 10px;
  color: #FFF;
}

nav ul a {
  text-decoration: none;
}

#inscreva-se {
  font-size: 22px;
  font-family: Montserrat-SemiBold;
}

/* END HEADER */


/* SOBRE */

.sobre {
  width: 100%;
  padding-bottom: 50px;
}

.sobre p {
  width: calc(50% - 3px);
  display: inline-block;
  vertical-align: text-top;
  font-size: 130%;
}

.sobre img {
  padding: 0 10%
}

#inscricao {
  display: inline-block;
  text-decoration: none;
  background-color: #f39c12;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  line-height: 50px;
  text-align: center;
  margin: 0;
  width: 100%;
  height: 50px;
  padding: 0px 33px;
  border-radius: 25px;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.5);
}

.typeform-popup-wrapper .typeform-close-icon {
    position: absolute;
    top: 12px!important;
    margin-right: 55px!important;
    padding: 8px;
    width: 33px;
    cursor: pointer;
}

/* END SOBRE */


/* FORM */

.form {
  width: 30%;
  margin: 0 auto;
}

.como-chegar {
  width: 100%;
  padding-bottom: 50px;
}

.map {
  width: 100%;
  height: 350px;
  pointer-events: none;
  margin: 0 auto;
}


/* END SOBRE */


/* MENTORES */

.mentores>div>div {
  width: 20%;
  text-align: center;
  display: inline-block;
  margin: 10px 2%;
  margin-bottom: 2%;
  vertical-align: text-top;
}

.mentores>div>div img {
  border-radius: 10%;
}

.jurados.mentores>div>div {
  width: 30%;
}


/* END MENTORES */

.realizacao.mentores>div>div {
  width: 25%;
}

.apoio.mentores>div>div {
  width: 20%;
}

.img-jurados {
  height: 250px;
  width: auto;
}

.jurados p {
  display: none;
}

.jurados:hover p {
  display: block;
}

/* FOOTER */

footer {
  background-color: #2c3e50;
  color: #fff;
}

footer p {
  text-align: center;
  padding-top: 30px;
}

footer a {
  color: #fff;
}


/* END FOOTER */

.small {
  margin: 0;
  position: fixed;
  z-index: 2;
}

.img-realiza {
  height: 200px;
  width: auto;
}

.img-apoio {
  height: 100px;
  width: auto;
}

#logo-soa, #logo-evelle {
  height: 60px;
}

@media (max-width: 600px) {
  header img {
    width: 80%;
    left: 10%;
    right: 10%;
  }
  .sobre p {
    width: 100%;
    float: none;
  }
  .form {
    width: 90%;
  }
  .mentores>div>div {
    width: 95%;
  }
  .jurados.mentores>div>div {
    width: 95%;
  }
  .realizacao.mentores>div>div {
    width: 95%;
  }
  .apoio.mentores>div>div {
    width: 95%;
  }
}
